node_modules
.git
.github
.env
.env.*
.envrc
.nvmrc
.vscode
coverage
tests
*.md
eslint.config.js
pnpm-lock.yaml
Dockerfile
.dockerignore
docker-compose*.yml
certs/server.key
certs/server.crt
certs/ca.crt
certs/ca.key
certs/server.csr
certs/ca.srl
certs/openssl.cnf
backup_scripts
openapi
database/Entity Relationship Model
database/README.md
database/SQL_CONTRIBUITING.md
prisma/migrations
