---
/*
  Sidebar.astro
  This component renders a vertical sidebar navigation menu base on the user's role.
  Each role displays a different set of menu items.
  The active route is visually highlighted to guide the user.
*/

import signInIcon from "../assets/sign-in.svg";
const { role } = Astro.props;
const currentPath = Astro.url.pathname;

// SIDEBAR_CONFIG defines the sidebar menu items per role.
const SIDEBAR_CONFIG = {
  SOLICITANTE: [
    { label: 'DASHBOARD', route: '/dashboard', icon: signInIcon },
    { label: 'SOLICITUD DE VIAJE', route: '/solicitud', icon: signInIcon },
    { label: 'COMPROBAR GASTOS', route: '/comprobante', icon: signInIcon },
    { label: 'HISTORIAL DE VIAJE ', route: '/historial', icon: signInIcon},
  ],
  AUTORIZADOR: [
    { label: 'DASHBOARD', route: '/dashboard', icon: signInIcon},
    { label: 'SOLICITUDES', route: '/autorizaciones', icon: signInIcon},
  ]
};

// Retrieve the list of menu items based on the current role
const items = SIDEBAR_CONFIG[role];

---

<!--Sidebar configuration and styling-->
<aside class="fixed top-16 left-0 z-40 w-64 h-[calc(100vh-4rem)] bg-neutral-50 border-r border-neutral-200 shadow-md">
  <div class="h-full px-4 py-6 overflow-auto">
    <ul class="space-y-4 font-medium list-none p-0 m-0">
      {
        items?.map(item => (
          <li>
            <a
              href={item.route}
              class={`flex items-center gap-3 p-3 rounded-lg transition-colors duration-200 group ${
                currentPath === item.route
                  ? 'bg-primary-500 text-white'
                  : 'text-black hover:bg-primary-50 hover:text-white'
              }`}
            >
              <img src={item.icon} alt={item.label} class="w-6 h-6 group-hover:brightness-0 group-hover:invert" />
              <span class="truncate text-sm font-medium">{item.label}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
